container.elasticsearch/data
container.operate/**
container.postgres/**
container.tasklist/**
container.traefik/**
container.web-modeler-db/**
container.zeebe/**

configuration/runtime_local_camunda.1oannis.com.env
configuration/runtime_local_camunda.1oannis.com/**
