# ==============================================================================
# HOST CONFIGURATION
# ==============================================================================
HOSTNAME=camunda.example.com
